@{
    ViewData["Title"] = "Criar Contato";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar Contato</h1>

    <form class="text-md-start">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" aria-describedby="Nome">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="text" class="form-control" id="email" aria-describedby="E-mail">
        </div>
        <div class="mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="telefone" aria-describedby="Telefone">
        </div>
        
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
